{% extends 'blog/header.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    {% block content %}
    <h1 id="heading">Anime List <img src="https://img.icons8.com/color/96/000000/naruto.png" /> </h1>
        {% if blogs_list %}        
            <div class="flex-parent">
                {% for each_blog in blogs_list %}
                <a href="{% url 'blog:blog_post' user.id  each_blog.id  %}">
                    <div class="flex-child">
                        <img src="{{  each_blog.imgLink }}" class="blog_img" >
                        <p class="blog_title">{{each_blog.title}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
       
       
        {% else %}

            {% if link == 'search' %}    
                <p class="blog_title">Nothing Found</p>
            {% else %}
                <p class="blog_title">No Anime Added To {{link}} List</p>
            {% endif %}
        {% endif %}
    {% endblock content %}
</body>
</html>